pkginfo
requests
sphinx
sphinx_rtd_theme
twine
pre-commit
mypy
mypy-extensions
safety
flake8
black
pipdeptree
darglint
pytest
pytest-cov
pytest-sugar
pynacl
humanize
ruamel.yaml>=0.15
pyasn1
pyasn1-modules
